*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* DIMENSIONI */
.col_3_9{
    width: calc(100% / 9 * 3);
}

.col_4_9{
    width: calc(1330px / 9 * 4);
}

.col_5_9{
    width: calc(1330px / 9 * 5);
}

.col_6_9{
    width: calc(1330px / 9 * 6);
}


/* UTILITIES */
    .button_blue{
        background-color: #0061FF;
        color: white;
        text-decoration: none;
        padding: 5px 25px;
    }


/* NAV */
.nav{
    position: fixed;
    width:100%;
    background-color: white;
    z-index: 99;
}

.nav::after{
    content: "";
    display: table;
    clear: both;
}

.nav__list-left{
    float: left;
}

.nav__list-right{
    float: right;
}

.nav__list-left li,.nav__list-right li{
    display: inline-block;
    font-size: small;
    margin: 10px 5px;
}

.nav__list-right li{
    line-height: 25px;
    margin: 10px 15px;
}

.nav__list-left a,.nav__list-right a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.nav__logo{
    vertical-align: middle;
}

.nav__button a{
    background-color: #0061FF;
    color: white;
    padding: 5px 15px;
    margin-right: 10px;
}
/* FINE NAV */

/* HERO */
.hero__background{
    background-color: #B4D0E7;
    padding-top: 50px;
    width:100%;
    height: 100%;
}

.container__hero{
    width:1330px;
    margin:auto;
    position: relative;
    top: 80px;
}

.container__hero::after{
    content: "";
    display: table;
    clear: both;
}

.hero__title{
    font-size: 77px;
}

.hero__container-text{
    float: left;
    display: inline-block;
    margin-top: 50px;
}

.hero__button{
    display: inline-block;
    margin: 30px 0 20px 0;
}

.hero__icon{
    font-size: xxx-large;
    margin-top:30px;
    color: #081753;
}

.hero__container-img{
    display: inline-block;
    float: left;
    margin-top: 50px;
}
/* FINE HEADER */

.main__container{
    width: 1000px;
    margin: 150px auto;  
}


/* PLAN BOX */
.main__container h2{
    font-size: 40px;
}

.main__radiobutton-container{
    padding-top: 50px;
}

.main__col-container{
    margin-top: 40px;
    word-spacing: -10px;
}

.main__col-container{
    margin-left: -20px;
}

.main__col{
    display: inline-block;
    word-spacing: normal;
    padding: 0 20px;
    vertical-align: middle;
}

.main__col-planType{
    text-align: center;
    padding: 10px 0;
    border-top:1px lightgray solid;
    border-left:1px lightgray solid;
    border-right:1px lightgray solid;
}

.main__col-text{
    padding: 0 25px;
    border: 1px solid lightgray;
    padding-top: 25px;
    min-height: 1000px;
}

.main__col-text h5{
    margin: 10px 0;
}

.main__col-text h6{
    color: #637381;
}

.main__col-planDifference{
    margin: 25px 0;
}

.main__col-text li{
    padding: 15px 0;
    font-size: 14px;
    list-style: none;
}

.main__col-text p{
    margin: 30px 0;
}

.main__col-text p  a{
    color: #0061FF;
}

.main__col-text hr{
    width: 30%;
    margin-bottom: 40px;
}

.main__col-checkIcon{
    color: #0061FF;
    margin-left: -15px;
}

.main__col-icon{
    margin-left: -10px;
}

.main__col-horizontal{
    width: calc(100% - 40px);
    margin: 30px 0 0 20px;
}

.main__col-horizontal-text{
    word-spacing: normal;
    border:1px lightgray solid;
}

.main__col-horizontal-text::after{
    content: "";
    display: table;
    clear: both;
}

.main__col-horizontal--left{
    float: left;
    width: 60%;
    padding-left:20px ;
}

.main__col-horizontal-text h3{
    margin: 20px 0;
}

.main__col-horizontal-text p{
    margin: 20px 0;
    font-size: 14px;
}


.main__col-horizontal--right{
    float:left;
    width: 40%;
    padding: 20px 20px;
    text-align: right;

}

/* PARTNER BOX */
.main__partner-container{
    width: 100%;
    margin: 80px auto;
}

.main__partner-container::after{
    content: "";
    display: table;
    clear: both;
}

.main__partner-img{
    float: left;
    width: 60%;
}

.main__partner-text{
    float: left;
    width: 40%;
    padding: 20px 0px 20px 50px;
}

.main__partner-text p{
    padding: 30px 0;
}

.button--white{
    color: black;
    background-color: white;
    border: 1px solid black;
    
}

/* OPERATION BOX */

.main__operation-container{
    width: 100%;
    margin: auto;
}

.main__operation-container::after{
    content: "";
    display: table;
    clear: both;
}

.main__operation-item{
    float: left;
    margin-top: 20px;
    padding: 20px;
}

.main__operation-item img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.main__operation-item h3{
    padding-bottom: 20px;
}

.main__operation-item a{
    color: black;
}

/* TEAM BOX*/
.main__team-container{
    margin: 50px auto;
    width: 100%;
}

.main__team-title{
    width: 1000px;
    margin: auto;
}

.main__team-container h2{
    font-size: 40px;
}

.main__team-container a{
    color: #0061FF ;
    margin: 20px 0;
    display: inline-block;
}

.main__square-container-all{
    margin-top:40px ;
    background-color: #B4D0E7;
}

.main__square-container-all::after{
    content: "";
    display: table;
    clear: both;
}

.main__square-container-left{
    width: 30%;
    float: left;
}

.main__square-container-left::after{
    content: "";
    display: table;
    clear: both;
}

.main__square{
    width: 50%;
    height: 15vw;
    position: relative;
    float: left;
}

.main__square--green{
    background-color: #ABD7A5;
}

.main__square--bordeaux{
    background-color: #7F3753;
}

.main__square--turquoise{
    background-color: #199ED3;
}

.main__square--redPastel{
    background-color: #FF4747;
}

.main__square--red{
    background-color: #DD3049;
}

.main__square--lightblue{
    background-color: #BBD5E9;
}

.main__square--blue{
    background-color: #3B4E99;
}

.main__square--yellow{
    background-color: #FFDC45;
}

.main__square img{
    max-height: 100%;
    max-width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(100%);
}


.main__square-container-center{
    width: 40%;
    min-height: 30vw;
    background-color: #F7F7F7;
    float: left;
}

.main__square-center-box{
    padding:40px;
}

.main__square-container-center img{
    max-height: 40px;
}

.main__square-container-center hr{
    width: 50px;
    border-top:1px solid lightgrey;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

.main__square-container-center p:last-child{
    padding-top: 50px;
}

.main__square-container-right{
    width: 30%;
    float: left;
}

.main__team-box{
    width: 1000px;
    margin: auto;
    padding: 100px 0;
}

.main__team-box::after{
    content: "";
    display: table;
    clear: both;
}

.main__team-box h2{
    color: #61082B;
    float: left;
    padding-right: 20px;
    padding-top: 100px;
}

.main__team-box a{
    float: left; 
    margin-left: 250px;
    background-color: white;
    color: black;
    font-size: 14px;
    margin-top: 115px;
}

.main__faq-container{
    width: 1000px;
    margin:50px auto;
}

.main__faq-container h3{
    margin-bottom: 40px;
}

.main__faq-container h5{
    padding: 20px 0;
    border-top: lightgrey 1px solid;    
    border-bottom: lightgrey 1px solid;
}

.footer{
    background-color: black;
}


.footer__container{
    margin: auto;
    padding: 100px 0 70px 0;
    width:80%; 
    color: white;   
}

.footer__container::after{
    content: "";
    display: table;
    clear: both;
}

.footer__box{
    /* padding: 80px 80px; */
    width: calc(100% / 5);
    float: left;
    margin-bottom: 60px;
}

.footer__box h4{
    /* color: white; */
    font-size: 14px;
    padding-bottom: 15px;
}

.footer__box p{
    /* color: white; */
    font-size: 14px;
    padding: 5px 0;
}

.footer__container>hr{
    width: 100px;
    border-top:1px solid lightgrey;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding-bottom: 40px;
    clear: left;
}